body {
  background-color: #0d0d0d;
  color: #fff;
}

.side-menu {
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-80%);
  transition: all 0.3s;
  z-index: 9999;
}

.side-menu .drawer {
  background-color: #fff;
  color: #0d0d0d;
}
.side-menu .drawer .menu-bars {
  cursor: pointer;
}

.side-menu nav {
  max-width: 250px;
}

.show-menu {
  transform: translateX(0);
}

.side-nav li {
  cursor: pointer;
  transition: all 0.5s;
}
.side-nav li:hover {
  color: var(--bs-red);
}

#ContactWrapper .search-bar input {
  border: 2px solid #fff;
  outline: none;
}

#NowPlaying .movie-card {
  position: relative;
}
#NowPlaying .movie-layer {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#NowPlaying .movie-card .movie-poster img {
  transition: all 1s;
}

#NowPlaying .movie-layer .movie-desc {
  font-size: 14px;
}
#NowPlaying .movie-card:hover .movie-layer {
  opacity: 1;
}
#NowPlaying .movie-card:hover .movie-poster img {
  transform: scale(1.2) rotate(5deg);
}

.star-rating {
  color: #ddd;
}
.star-rating .fas {
  color: #ffc107;
}

.rating-number {
  border: 2px solid green;
  padding: 10px;
  display: inline-block;
  border-radius: 100px;
}

.contact-us-title {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.contact-input {
  padding: 10px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.contact-input::placeholder {
  color: #555;
}

.contact-submit-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
